* {
    box-sizing: border-box;
  }

.the-page h1{
    background: #e10600;
    color: white;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    font-family: F1;
}

.cards-container{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
    border: 2px solid black;
    border-color: #e10600;
    padding: 20px;
}

.cards-container h2{
    text-align: center;
    font-family: Domyouji Regular;
}

.card{
    border-radius: 25px;
    border-color: gray;
    border: 2px solid black;
    width: 250px;
}

.card h3{
    text-decoration: underline;
    text-align: center;
}

.card img{
    width: 100%;
    height: auto;
}

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }

.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}